img{
    height: 550px;
    width: 500px;
}body{
    text-align: center;
    color: white;
}#home{
    background:radial-gradient(black 0%, rgb(17, 132, 56) 50%,black 100%);
}.link:hover
{
background-color: rgb(22, 94, 26);
}
.menu{
    list-style: none;
    font-family: cursive;
    float:right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black
}
#myname{
    font-family: 'Courgette', cursive;
}